---
import { ShoppingCart } from "lucide-astro";
---

<a class="btn snipcart-checkout btn-primary">
  <ShoppingCart class="text-white" /><div
    class="snipcart-items-count text-white"
  >
    0
  </div>
</a>
