---
import { ShoppingCart } from "@lucide/astro";
---

<a class="text-secondary-500 flex items-center gap-2">
  <ShoppingCart class="text-secondary-500" />
  <div class="text-secondary-500">0</div>
</a>
