---
import { getCollection, getEntry } from "astro:content";
import ComicCard from "../components/ComicCard.astro";

const comics = await getCollection("comics");
---

<div class="grid grid-cols-2 gap-12 lg:grid-cols-4">
  {comics.map((comic) => <ComicCard comic={comic} />)}
</div>
