---
import ComicsGrid from "../components/ComicsGrid.astro";
import Countdown from "../components/Countdown.jsx";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout subTitle="Cómics">
  <div class="flex flex-col items-center my-12">
    <ComicsGrid />
  </div>
</DefaultLayout>
